div {
	width: 150px;
	height: 200px;
	text-align: center;
	font-family: sans-serif;
	padding-top: 1em;
}

#stapel {
	float: left;
	position: absolute;
	top: 3em;
	left: 6em;
	background-color: dimgrey;
	border: 1px solid black;
	border-radius: 10px;
	color: white;
}

#ablage {
	float: right;
	position: absolute;
	top: 3em;
	right: 6em;
	background-color: gainsboro;
	border: 1px solid black;
	border-radius: 10px;
	/*display: none;*/
}

.hand {
	flaot: left;
	clear: right;
	position: relative;
	display: inline;
	top: 20em;
	margin-left: 7em;
	font-weight: 700;
	color: darkred;
}


