/*
Aufgabe: Nr. 0
Name: Lisa Würstle
Matrikel: 254072
Datum: 18.03.2017
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.*/

body {
	text-align: center;
	font-family: "Helvetica", sans-serif;
	top: 3em;
	font-size: 1.7em;
	background-color: #D3d3d3;
	top: 3em;
}