html {
	background-color: #E0FFFF;
}

canvas {
	display: block;
	margin: 0 auto;
	position: relative;
	width: 90%;
	top: 2em;
}

h2 {
	text-align: center;
	font-family: 'Megrim';
	letter-spacing: 0.5em;
	color: black;
}

#description {
	color: black;
	font-family: 'Pt Sans';
	position: relative;
	text-align: center;
	top: 1em;
}



@media screen and (min-width: 750px) {
	canvas {
		width: 75%;
	}

}

@media screen and (min-width: 1024px) {
	canvas {
		width: 80%;
	}
}