body {
	background-color: white;
}
* {
	display: block;
	vertical-align: top
}

input[type="radio"], input[type="checkbox"], label {
	display: inline;
}
label::after {
	content:"";
	display: block;
}
head {
	display: none;
}
input:invalid {
	background: #F0C060;
}
input:valid {
	background: white;
}
input:required {
	background: #aaaaaa;
}
fieldset {
	width: 400px;
	background-color: thistle;
	margin-left: 100px;
	margin-top: 20px;
}
svg, figure, option {
	display: inline;
	margin: 10px;
	padding: 0px;
}
#logIn {
	float: right;
	margin-right: 40px;
}
h3 {
	text-align: center;
	font-family: "Barrio";
	font-size: 1.7em;
}
img {
	height: 60px;
	width: 30px;
	margin: 0 auto;
	display: block;
}
aside {
	float: right;
	position: absolute;
	top: 250px;
	left: 590px;
	color: grey;
}
button {
	margin-left: 270px;
	margin-top: 15px;
	background-color: lightcyan;
}